VITE_API_URL=http://localhost:5001/api
VITE_WS_URL=ws://localhost:5001
VITE_CLOUDINARY_CLOUD_NAME=dljqtrocn
VITE_CLOUDINARY_API_KEY=985625776636295
VITE_CLOUDINARY_API_SECRET=rkCy5V-tQyYBbSh3rWzmssRZ8tk
